/* You can keep any non-theme related global styles here */

/* Ensure body and html are managed by Tailwind CSS directly */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
